@import '../../../styles/app';

.root {
  :global {
    .post-comments footer {
      margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
      padding: $widget-padding-vertical $widget-padding-horizontal;
    }

    .stat-item .name {
      margin-top: 10px;
    }

    .list-group-item:hover {
      background-color: $bg-addition;
    }

    .detail {
      .x_label {
        background: $widget-bg-color !important;
      }
    }
    .form-text{
      font-size: 1rem;
      color:rgb(12, 11, 11);
      font-family: "Open Sans";
    }
    .form-text1{
      font-size: 0.9rem;
      color:black;
      font-family: "Open Sans";
    }
    .ml-3{
      margin-left:10px;
    }
    
  }
}


