@import '../../styles/app';

.root {
 
}
.img_responsive {
  max-width: 100%;
 }
 .btn_doc{
  min-height: 56px;
  margin-top: 5px;
  width: 100%;
  color: black;
 }
 .mui_control {
  font-family: "Open Sans", sans-serif;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s;
  background: #f4f4f5;
  border: none;
 }
 .upload-btn {
  position: relative;
 }
