@import '../../styles/app';

.root {
  :global {
    .post-comments footer {
      margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
      padding: $widget-padding-vertical $widget-padding-horizontal;
    }

    .stat-item .name {
      margin-top: 10px;
    }

    .list-group-item:hover {
      background-color: $bg-addition;
    }

    .detail {
      .x_label {
        background: $widget-bg-color !important;
      }
    }
  }
}

.table {
  :global(.table.table-sm) {
    td {
      font-size: 1rem;
      vertical-align: middle;
    }
  }
}

.searchBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.refer_banner{
  background: url(/assets/refer_banner.png) no-repeat;
  height: 350px;
}
.refe_earn_banner{
  padding: 20px;
  color: white;
}

.c_ib_cnt_dv {
  padding: 10px 15px;
}

.c_ib_m_core_dv {
  text-align: center;
}

.c_padd_left_0 {
  padding-left: 0px !important;
}

.c_padd_right_0 {
  padding-right: 0px !important;
}