@import '../../styles/app';

.root {
  :global {
    .post-comments footer {
      margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
      padding: $widget-padding-vertical $widget-padding-horizontal;
    }

    .stat-item .name {
      margin-top: 10px;
    }

    .list-group-item:hover {
      background-color: $bg-addition;
    }

    .detail {
      .x_label {
        background: $widget-bg-color !important;
      }
    }
  }
}
.overFlow {
  overflow-x: auto;
}
.table {
  :global(.table.table-sm) {
    td {
      font-size: 1rem;
      vertical-align: middle;
    }
  }
}

.searchBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.payment_option {
  display: inline-block;
  width: 110px;
  height: 68px;
  background: url(/assets/payment/unavailable.png) no-repeat;
  background-size: 110px 68px !important;
  position: relative;
  margin: 20px 0 20px 0;
}
.payment_option_skrill{
  background: url(/assets/payment/skrill.png) no-repeat;
}